# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

pkgs/quickjs-master/*
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/
/gocfm/node_modules/
/gocfm/.env.local
/gocfm/.umirc.local.ts
/gocfm/config/config.local.ts
/gocfm/src/.umi
/gocfm/src/.umi-production
/gocfm/src/.umi-test
/gocfm/.umi
/gocfm/.umi-production
/gocfm/.umi-test
/gocfm/dist
/gocfm/.mfsu
/gocfm/.swc
/gocfm/bin
/gocf/bin
.DS_Store